body > main > article > ul {
    padding-inline: 0;
    list-style: none;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
}

body > main > article > ul > li {
    margin: 0;
    border: none;
    padding: 10px;
}

body > main > article > ul > li > img {
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
}